section.section.section-lg#feature-3
  .container
    .row.row-grid.align-items-center
      .col-md-6.order-md-1
        img.img-fluid.floating(src='assets/img/app-mockup.png' alt='app mockup')
      .col-md-6.order-md-2
        .pr-md-5
          .icon.icon-lg.icon-shape.icon-shape-success.shadow.rounded-circle.mb-5
            i.ni.ni-settings-gear-65
          h3 Go handsfree
          p
            | Lacer comes with a smart, companion app that will learn from your walking habits and adjust itself to balance comfort and stability throughout the day.
            | (Coming Soon)
          ul.list-unstyled.mt-5
            li.py-2
              .d-flex.align-items-center
                div
                  .badge.badge-circle.badge-success.mr-3
                    i.ni.ni-settings-gear-65
                div
                  h6.mb-0 Light, compact and unnoticable 
            li.py-2
              .d-flex.align-items-center
                div
                  .badge.badge-circle.badge-success.mr-3
                    i.ni.ni-html5
                div
                  h6.mb-0 Does not use adhesives or permenant stitching 
            li.py-2
              .d-flex.align-items-center
                div
                  .badge.badge-circle.badge-success.mr-3
                    i.ni.ni-satisfied
                div
                  h6.mb-0 Can be removed and replaced easily