section.section.section-lg#feature-1
  .container
    .row.row-grid.align-items-center
      .col-md-6.order-md-1
        img.img-fluid.floating(src='assets/img/running.png' alt='elderly running')
      .col-md-6.order-md-2
        .pr-md-5
          .icon.icon-lg.icon-shape.icon-shape-primary.shadow.rounded-circle.mb-5
            i.ni.ni-settings-gear-65
          h3 Making life a little easier
          p
            | Though a seemingly mundane task, tying shoelaces can be a difficult task for the elderly and people with injuries or diseases affecting fine motor skills
          ul.list-unstyled.mt-5
            li.py-2
              .d-flex.align-items-center
                div
                  .badge.badge-circle.badge-primary.mr-3
                    i.ni.ni-settings-gear-65
                div
                  h6.mb-0 Tie your laces without straining your back
            li.py-2
              .d-flex.align-items-center
                div
                  .badge.badge-circle.badge-primary.mr-3
                    i.ni.ni-html5
                div
                  h6.mb-0 Simplify the intricacies of tying your laces
            li.py-2
              .d-flex.align-items-center
                div
                  .badge.badge-circle.badge-primary.mr-3
                    i.ni.ni-satisfied
                div
                  h6.mb-0 Never trip over undone laces