section.section.section-lg#feature-2
  .container
    .row.row-grid.align-items-center
      .col-md-6.order-md-2
        img.img-fluid.floating(src='assets/img/shoewall.png' alt='wall of shoes')
      .col-md-6.order-md-1
        .pr-md-5
          .icon.icon-lg.icon-shape.icon-shape-success.shadow.rounded-circle.mb-5
            i.ni.ni-settings-gear-65
          h3 Pick you style
          p
            | Lacer fits on most shoes easily so you are free to show of your style without compromising on convienience. 
            | Its innovative design also enables you to remove it easily and use it with different pairs of shoes.
          ul.list-unstyled.mt-5
            li.py-2
              .d-flex.align-items-center
                div
                  .badge.badge-circle.badge-success.mr-3
                    i.ni.ni-settings-gear-65
                div
                  h6.mb-0 Light, compact and unnoticable 
            li.py-2
              .d-flex.align-items-center
                div
                  .badge.badge-circle.badge-success.mr-3
                    i.ni.ni-html5
                div
                  h6.mb-0 Does not use adhesives or permenant stitching 
            li.py-2
              .d-flex.align-items-center
                div
                  .badge.badge-circle.badge-success.mr-3
                    i.ni.ni-satisfied
                div
                  h6.mb-0 Can be removed and replaced easily