section.section.section-lg.bg-gradient-default
  .container.pt-lg.pb-300
    .row.text-center.justify-content-center
      .col-lg-10
        h2.display-3.text-white Get in touch
  // SVG separator
  .separator.separator-bottom.separator-skew.zindex-100
    svg(x='0' y='0' viewbox='0 0 2560 100' preserveaspectratio='none' version='1.1' xmlns='http://www.w3.org/2000/svg')
      polygon.fill-white(points='2560 0 2560 100 0 100')
section.section.section-lg.pt-lg-0.section-contact-us
  .container
    .row.justify-content-center.mt--300
      .col-lg-8
        .card.bg-gradient-secondary.shadow
          .card-body.p-lg-5
            h4.mb-1 Want to work with us?
            p.mt-0 Your project is very important to us.
            .form-group.mt-5
              .input-group.input-group-alternative
                .input-group-prepend
                  span.input-group-text
                    i.ni.ni-user-run
                input.form-control(placeholder='Your name' type='text')
            .form-group
              .input-group.input-group-alternative
                .input-group-prepend
                  span.input-group-text
                    i.ni.ni-email-83
                input.form-control(placeholder='Email address' type='email')
            .form-group.mb-4
              textarea.form-control.form-control-alternative(name='name' rows='4' cols='80' placeholder='Type a message...')
            div
              button.btn.btn-default.btn-round.btn-block.btn-lg(type='button') Send Message