footer.footer
  .container
    .row.row-grid.align-items-center.my-md
      .col-lg-6
        h3.text-primary.font-weight-light.mb-2 Thank you for supporting us!
        h4.mb-0.font-weight-light Let&apos;s get in touch on any of these platforms.
      .col-lg-6.text-lg-center.btn-wrapper
        a.btn.btn-neutral.btn-icon-only.btn-twitter.btn-round.btn-lg(target='_blank' href='https://twitter.com/creativetim' data-toggle='tooltip' data-original-title='Follow us')
          i.fa.fa-twitter
        a.btn.btn-neutral.btn-icon-only.btn-facebook.btn-round.btn-lg(target='_blank' href='https://www.facebook.com/creativetim' data-toggle='tooltip' data-original-title='Like us')
          i.fa.fa-facebook-square
        a.btn.btn-neutral.btn-icon-only.btn-dribbble.btn-lg.btn-round(target='_blank' href='https://dribbble.com/creativetim' data-toggle='tooltip' data-original-title='Follow us')
          i.fa.fa-dribbble
        a.btn.btn-neutral.btn-icon-only.btn-github.btn-round.btn-lg(target='_blank' href='https://github.com/creativetimofficial' data-toggle='tooltip' data-original-title='Star on Github')
          i.fa.fa-github
    hr
    .row.align-items-center.justify-content-md-between
      .col-md-6
        .copyright
          | &copy; 2020
          a(href='https://www.creative-tim.com' target='_blank') Lacer
          | .
      .col-md-6
        ul.nav.nav-footer.justify-content-end
          li.nav-item
            a.nav-link(href='index.html') Home
          li.nav-item
            a.nav-link(href='our-story.html' target='_blank') About Us
          li.nav-item
            a.nav-link(href='/' target='_blank') Privacy Policy
          li.nav-item
            a.nav-link(href='/' target='_blank') Terms & Conditions
// Core
script(src='assets/vendor/jquery/jquery.min.js')
script(src='assets/vendor/popper/popper.min.js')
script(src='assets/vendor/bootstrap/bootstrap.min.js')
script(src='assets/vendor/headroom/headroom.min.js')
// Argon JS
script(src='assets/js/argon.js?v=1.1.0')
script(type='text/javascript' src='js/app.js')
script(type='text/javascript' src='js/vendor.js')