.position-relative
    // shape Hero
    section.section.section-lg.section-shaped.pb-250
      .shape.shape-style-1.shape-dark
        span
        span
        span
        span
        span
        span
        span
        span
        span
      .container.py-lg-md.d-flex
        .col.px-0
          .row
            .col-lg-6.shoe.order-lg-last
              img.img-fluid.floating(src="assets/img/shoe.png", alt="")
            .col-lg-6
              h1.display-3.text-white
                | Free yourself truely
                span and be present
              p.lead.text-white
                | Automated self-lacing system for everyone
              .btn-wrapper
                a.btn.btn-info.btn-icon.mb-3.mb-sm-0(href='https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html')
                  span.btn-inner--icon
                    i.fa.fa-heart
                  span.btn-inner--text Join Waiting List
      // SVG separator
      .separator.separator-bottom.separator-skew
        svg(x='0' y='0' viewbox='0 0 2560 100' preserveaspectratio='none' version='1.1' xmlns='http://www.w3.org/2000/svg')
          polygon.fill-white(points='2560 0 2560 100 0 100')