section.section.pb-10.bg-gradient-warning
  .container
    .row.row-grid.align-items-center
      .col-xl-6.ml-xl-auto
        .position-relative.pl-md-5
          img.img-center.img-fluid(src='assets/img/proto-side.png' alt='profile view of prototype')
      .col-xl-6
        .d-flex.px-3
          div
            .icon.icon-lg.icon-shape.bg-gradient-white.shadow.rounded-circle.text-primary
              i.ni.ni-building.text-primary
          .pl-4
            h4.display-3.text-white How it Works
            p.text-white
              | The Lacer system comes with a custom-designed inflatable pouch that slips under the tongue of your shoe
              | and wrap around your feet. Once inflated remotely, it keeps your feet snug within your shoe.
        .card.shadow.shadow-lg--hover.mt-5
          .card-body
            h5.title.text-success Coming Soon
            p
              | Lacer is undergoing rapid prototyping and will be avilable soon. Find out how we are progressing and more about some of the underlying technology.
            a.btn.btn-success(href='about.html') Learn more
        //- .card.shadow.shadow-lg--hover.mt-5
        //-   .card-body
        //-     .d-flex.px-3
        //-       div
        //-         .icon.icon-shape.bg-gradient-warning.rounded-circle.text-white
        //-           i.ni.ni-active-40
        //-       .pl-4
        //-         h5.title.text-warning Modular Components
        //-         p
        //-           | The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.
        //-         a.text-warning(href='#') Learn more
      br
      br
      br
  // SVG separator
  .separator.separator-bottom.separator-skew.zindex-100
    svg(x='0' y='0' viewbox='0 0 2560 100' preserveaspectratio='none' version='1.1' xmlns='http://www.w3.org/2000/svg')
      polygon.fill-white(points='2560 0 2560 100 0 100')