section.section.section-lg.pt-lg-0.mt--200
  .container
    .row.justify-content-center
      .col-lg-12
        .row.row-grid
          .col-md-4
            .card.card-lift--hover.shadow.border-0
              .card-body.py-5
                .icon.icon-shape.icon-shape-primary.rounded-circle.mb-4
                  i.ni.ni-check-bold
                h6.text-primary.text-uppercase Save your back
                p.description.mt-3
                  | Lacer is a hands-free system that allows you tighten your shoes without bending over or precariously balancing yourself.
                //- div
                //-   span.badge.badge-pill.badge-primary design
                //-   span.badge.badge-pill.badge-primary system
                //-   span.badge.badge-pill.badge-primary creative
                a.btn.btn-primary.mt-4(href='#feature-1') Learn more
          .col-md-4
            .card.card-lift--hover.shadow.border-0
              .card-body.py-5
                .icon.icon-shape.icon-shape-success.rounded-circle.mb-4
                  i.ni.ni-istanbul
                h6.text-success.text-uppercase Retrofittable
                p.description.mt-3
                  | Lacer fits on most shoes easily so you are free to show of your style while not compromising on convienience.
                div
                  span.badge.badge-pill.badge-success business
                  span.badge.badge-pill.badge-success vision
                  span.badge.badge-pill.badge-success success
                a.btn.btn-success.mt-4(href='#feature-2') Learn more
          .col-md-4
            .card.card-lift--hover.shadow.border-0
              .card-body.py-5
                .icon.icon-shape.icon-shape-warning.rounded-circle.mb-4
                  i.ni.ni-planet
                h6.text-warning.text-uppercase Smart Companion App
                p.description.mt-3
                  | Lacer comes with a smart, companion app that will learn from your walking habits and adjust itself to balance comfort and stability throughout the day.
                //- div
                //-   span.badge.badge-pill.badge-warning marketing
                //-   span.badge.badge-pill.badge-warning product
                //-   span.badge.badge-pill.badge-warning launch
                a.btn.btn-warning.mt-4(href='#feature-3') Learn more