doctype html
include _head.pug
  title About
include _header.pug
main
  .position-relative
    // shape Hero
    section.section.section-lg.section-shaped.pb-100
      .shape.shape-style-1.shape-dark
        span
        span
        span
        span
        span
        span
        span
        span
        span
      // SVG separator
      .separator.separator-bottom.separator-skew
        svg(x='0' y='0' viewbox='0 0 2560 100' preserveaspectratio='none' version='1.1' xmlns='http://www.w3.org/2000/svg')
          polygon.fill-white(points='2560 0 2560 100 0 100')
  section.section.section-lg#feature-2
    .container
      .row.row-grid.align-items-center
        .col-md-6.order-md-2
          img.img-fluid.floating(src='assets/img/sketch.jpg' alt='app mockup')
        .col-md-6.order-md-1
          .pr-md-5
            h3 About The Lacer System
            p
              | The design consists of 3 main components - ealed inflatable polypropylene air pouch that is lined by flocked PVC, handheld air pump and optional pump mount.
            ul.list-unstyled.mt-5
              li.py-2
                .d-flex.align-items-center
                  div
                    .badge.badge-circle.badge-success.mr-3
                      i.ni.ni-settings-gear-65
                  div
                    h6.mb-0 The air pump can be easily attached to the pouch hands-free
              li.py-2
                .d-flex.align-items-center
                  div
                    .badge.badge-circle.badge-success.mr-3
                      i.ni.ni-html5
                  div
                    h6.mb-0 With a button or the app (coming soon), the air pouch gets inflated
              li.py-2
                .d-flex.align-items-center
                  div
                    .badge.badge-circle.badge-success.mr-3
                      i.ni.ni-satisfied
                  div
                    h6.mb-0 Once inflated, the pouch exerts pressure against the tongue of the shoe and foot
  section.section.section-lg#feature-3
    .container
      .row.row-grid.align-items-center
        .col-md-6.order-md-1
          img.img-fluid.floating(src='assets/img/pouch.jpg' alt='wall of shoes')
        .col-md-6.order-md-2
          .pr-md-5
            h3 Custom pneumatic, inflation mechanism
            p
              | Our inflatable pouches are designed to go under the tongue of your shoes and can be designed to wrap around your feet or sit on top of your toes
            ul.list-unstyled.mt-5
              li.py-2
                .d-flex.align-items-center
                  div
                    .badge.badge-circle.badge-success.mr-3
                      i.ni.ni-settings-gear-65
                  div
                    h6.mb-0 Light, easy-to-install with Velcro straps
              li.py-2
                .d-flex.align-items-center
                  div
                    .badge.badge-circle.badge-success.mr-3
                      i.ni.ni-html5
                  div
                    h6.mb-0 Comes with a flocked PVC outer lining for extra comfort
              li.py-2
                .d-flex.align-items-center
                  div
                    .badge.badge-circle.badge-success.mr-3
                      i.ni.ni-satisfied
                  div
                    h6.mb-0 Able to stay inflated for extended periods

include _footer.pug
                  