doctype html
include _head.pug
include _header.pug
main
  include _hero.pug
  include _quick-features.pug
  include features/_feature-1.pug
  include features/_feature-2.pug
  include features/_feature-3.pug
  include _how-it-works.pug
  include _team.pug
  include _contact-us.pug
  section.section.section-lg
    .container
      .row.row-grid.justify-content-center
        .col-lg-8.text-center
          h2.display-3
            | Do you love this awesome 
            span.text-success Design System for Bootstrap 4?
          p.lead
            | Cause if you do, it can be yours for FREE. Hit the button below to navigate to Creative Tim where you can find the Design System in HTML. Start a new project or give an old Bootstrap project a new look!
          .btn-wrapper
            a.btn.btn-primary.mb-3.mb-sm-0(href='https://www.creative-tim.com/product/argon-design-system') Download HTML
            a.btn.btn-default(href='https://www.creative-tim.com/product/argon-design-system') Download PSD/Sketch
          .text-center
            h4.display-4.mb-5.mt-5 Available on these technologies
            .row.justify-content-center
              .col-lg-2.col-4
                a(href='https://www.creative-tim.com/product/argon-design-system' target='_blank' data-toggle='tooltip' data-original-title='Bootstrap 4 - Most popular front-end component library')
                  img.img-fluid(alt='image' src='https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/bootstrap.jpg')
              .col-lg-2.col-4
                a(href=' https://www.creative-tim.com/product/vue-argon-design-system' target='_blank' data-toggle='tooltip' data-original-title='Vue.js - The progressive javascript framework')
                  img.img-fluid(alt='image' src='https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/vue.jpg')
              .col-lg-2.col-4
                a(href=' https://www.sketchapp.com/' target='_blank' data-toggle='tooltip' data-original-title='[Coming Soon] Sketch - Digital design toolkit')
                  img.img-fluid.opacity-3(alt='image' src='https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/sketch.jpg')
              .col-lg-2.col-4
                a(href=' https://www.adobe.com/products/photoshop.html' target='_blank' data-toggle='tooltip' data-original-title='[Coming Soon] Adobe Photoshop - Software for digital images manipulation')
                  img.img-fluid.opacity-3(alt='image' src='https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/ps.jpg')
              .col-lg-2.col-4
                a(href=' https://angularjs.org/' target='_blank' data-toggle='tooltip' data-original-title='[Coming Soon] Angular - One framework. Mobile & desktop')
                  img.img-fluid.opacity-3(alt='image' src='https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/angular.jpg')
              .col-lg-2.col-4
                a(href=' https://angularjs.org/' target='_blank' data-toggle='tooltip' data-original-title='[Coming Soon] React - A JavaScript library for building user interfaces')
                  img.img-fluid.opacity-3(alt='image' src='https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/react.jpg')
footer.footer.has-cards
  .container.container-lg
    .row
      .col-md-6.mb-5.mb-md-0
        .card.card-lift--hover.shadow.border-0
          a(href='../examples/landing.html' title='Landing Page')
            img.card-img(alt='image' src='assets/img/theme/landing.jpg')
      .col-md-6.mb-5.mb-lg-0
        .card.card-lift--hover.shadow.border-0
          a(href='../examples/profile.html' title='Profile Page')
            img.card-img(alt='image' src='assets/img/theme/profile.jpg')
  .container
    .row.row-grid.align-items-center.my-md
      .col-lg-6
        h3.text-primary.font-weight-light.mb-2 Thank you for supporting us!
        h4.mb-0.font-weight-light Let&apos;s get in touch on any of these platforms.
      .col-lg-6.text-lg-center.btn-wrapper
        a.btn.btn-neutral.btn-icon-only.btn-twitter.btn-round.btn-lg(target='_blank' href='https://twitter.com/creativetim' data-toggle='tooltip' data-original-title='Follow us')
          i.fa.fa-twitter
        a.btn.btn-neutral.btn-icon-only.btn-facebook.btn-round.btn-lg(target='_blank' href='https://www.facebook.com/creativetim' data-toggle='tooltip' data-original-title='Like us')
          i.fa.fa-facebook-square
        a.btn.btn-neutral.btn-icon-only.btn-dribbble.btn-lg.btn-round(target='_blank' href='https://dribbble.com/creativetim' data-toggle='tooltip' data-original-title='Follow us')
          i.fa.fa-dribbble
        a.btn.btn-neutral.btn-icon-only.btn-github.btn-round.btn-lg(target='_blank' href='https://github.com/creativetimofficial' data-toggle='tooltip' data-original-title='Star on Github')
          i.fa.fa-github
    hr
    .row.align-items-center.justify-content-md-between
      .col-md-6
        .copyright
          | &copy; 2019 
          a(href='https://www.creative-tim.com' target='_blank') Creative Tim
          | .
      .col-md-6
        ul.nav.nav-footer.justify-content-end
          li.nav-item
            a.nav-link(href='https://www.creative-tim.com' target='_blank') Creative Tim
          li.nav-item
            a.nav-link(href='https://www.creative-tim.com/presentation' target='_blank') About Us
          li.nav-item
            a.nav-link(href='http://blog.creative-tim.com' target='_blank') Blog
          li.nav-item
            a.nav-link(href='https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md' target='_blank') MIT License
// Core
script(src='assets/vendor/jquery/jquery.min.js')
script(src='assets/vendor/popper/popper.min.js')
script(src='assets/vendor/bootstrap/bootstrap.min.js')
script(src='assets/vendor/headroom/headroom.min.js')
// Argon JS
script(src='assets/js/argon.js?v=1.1.0')
script(type='text/javascript' src='http://192.168.1.234:3000/js/app.js')
script(type='text/javascript' src='http://192.168.1.234:3000/js/vendor.js')
