doctype html
include _head.pug
include _header.pug
main
  include _hero.pug
  include _quick-features.pug
  include _how-it-works.pug
  include features/_feature-1.pug
  include features/_feature-2.pug
  include features/_feature-3.pug
  include _team.pug
  include _contact-us.pug
  section.section.section-lg
    .container
      .row.row-grid.justify-content-center
        .col-lg-8.text-center
          h2.display-3
            | Do you love this awesome website?
          p.lead
            | Cause if you do, you might want to read about how it is built
          .btn-wrapper
            a.btn.btn-primary.mb-3.mb-sm-0(href='websites.html') Website & Additional Information
include _footer.pug

