doctype html
include _head.pug
  title Website
include _header.pug
main#website
  .position-relative
    // shape Hero
    section.section.section-lg.section-shaped.pb-100
      .shape.shape-style-1.shape-dark
        span
        span
        span
        span
        span
        span
        span
        span
        span
      // SVG separator
      .separator.separator-bottom.separator-skew
        svg(x='0' y='0' viewbox='0 0 2560 100' preserveaspectratio='none' version='1.1' xmlns='http://www.w3.org/2000/svg')
          polygon.fill-white(points='2560 0 2560 100 0 100')
  section.section.section-lg
    .container
      .row.row-grid.align-items-center
        .col-12
          .nav-wrapper.mb-5.pb-4
            ul#tabs-icons-text.nav.nav-pills.nav-fill.flex-column.flex-md-row(role='tablist')
              li.nav-item
                a#tabs-icons-text-1-tab.nav-link.active(data-toggle='tab' href='#tabs-icons-text-1' role='tab' aria-controls='tabs-icons-text-1' aria-selected='true')
                  | Website
              li.nav-item
                a#tabs-icons-text-2-tab.nav-link(data-toggle='tab' href='#tabs-icons-text-2' role='tab' aria-controls='tabs-icons-text-2' aria-selected='false')
                  | Additional Info
          #myTabContent.tab-content
            #tabs-icons-text-1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='tabs-icons-text-1-tab')
              include websites/_websites.pug
            #tabs-icons-text-2.tab-pane.fade(role='tabpanel' aria-labelledby='tabs-icons-text-2-tab')
              include websites/_additional-info.pug
include _footer.pug