@import 'argon';

.shoe {
  img {
    width: 100%;
  }
}

.section-shaped .shape-style-1.shape-dark
{
    background: linear-gradient(150deg, #310b1b 15%, #20030c 70%, #1d0107 94%);
    background-image: url('../assets/img/bg.png');
    background-size: cover;
}

.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	// width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);

	h6 {
		text-align: justify;
		height: 100%;
		vertical-align: middle;
	}
}

#website {
	.card-header {
		background: #dde;
		padding: .1rem;
	}

	.card {
		&:first-child {
			.card-header {
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
		}

		&:last-child {
			.card-header {
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
	}
}
