@import 'argon';

.shoe {
  img {
    width: 100%;
  }
}

.section-shaped .shape-style-1.shape-dark
{
    background: linear-gradient(150deg, #310b1b 15%, #20030c 70%, #1d0107 94%);
    background-image: url('../assets/img/bg.png');
    background-size: cover;
}
